.nav-item form {
    padding: 0;
    margin: 0;
}

    .nav-item form button[type="submit"] {
        color: #d7d7d7;
        background: none;
        border: none;
        border-radius: 4px;
        height: 6rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
        width: 100%;
        text-align: left;
        padding-left: 1rem;
        padding-right: 1rem;
        cursor: pointer;
        font-size: 0.9rem;
        font-family: inherit;
    }

        .nav-item form button[type="submit"]:hover {
            background-color: rgba(255,255,255,0.1);
            color: white;
        }
